header.hero-header
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  flex-wrap: nowrap

  min-height: 95vh
  background-color: #B0C4DE9A
  .hero-content

    h1
      color: white