// Index Page Variables, aka "Main Variables"
$lightText: #FFFFFF
$darkText: #000000
$textColor: $lightText
$textHoverColor: $darkText
$buttonBorderColor: #FFC107
$buttonHoverBgColor: $buttonBorderColor
$flowContentBgColor: #f0f0f0
$headerBgColor: #216351

// Menu.sass
$menuBgColor: #483D8B
$menuBgLightColor: lighten($menuBgColor, 20%)
$menuBorderWidth: .1rem
$menuLinkFontSize: 1.2rem
$menuLinkTBPadding: .5rem
$menuLinkLRPadding: 1.5rem


$linkColor: $menuBgColor
$linkHoverColor: $menuBgLightColor

$footerHeight: 150px